/*
 * You can say something about your file if you need it!
 */


/*-------------------------*/


/* $Catalog 
---------------------------*/


/** 
 * Globel
 * Elements
 * Header
 * Footer
**/


/*-------------------------*/
 

/* $Globel
---------------------------*/

.wrapper {
    height: 100vh;
}

.pt-100 {
    padding-top: 100px;
}


/*-------------------------*/


/* $Elements
---------------------------*/


/* img
---------------------------*/

.image {
    width: 100%;
    display: block;
}

.imgBox {
    width: 100%;
    overflow: hidden;
}

.imgBox_inner {
    width: 100%;
    padding-top: 100%;
    position: relative;
    padding: 0;
}

.imgBox_inner.imgBox_inner--4-1 {
    padding-top: calc(100% * 1 / 4);
}

.imgBox_inner.imgBox_inner--4-3 {
    padding-top: calc(100% * 3 / 4);
}

.imgBox_inner .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*-------------------------*/


/* $Header
---------------------------*/

.header {
    top: 0;
    width: 100vw;
    height: 60px;
    position: fixed;
    z-index: 99999;
    transition: all .5s;
}
.header.scroll{
   top: -60px;
}
.headerclip{
    width: 830px;
    height: 60px;
    margin: 0 auto;

}
.headerclip .bg {
    clip-path: polygon(0% 0%, 100% 0%, 800px 100%, 30px 100%);
    width: 100%;
    height:100%;
    background: #3A4035;
    left: 0;
    top: 0;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
}

.navbar-logo img {
    height: 40px;
    width: auto;
    border: none;
}

.navbar .icon {
    font-size: 25px;
}

.nav {
    padding: 0 10px;
}

.nav a {
    font-size: 16px;
    transition: .3s;
}
.header .icon-user-o{
    color: #f9f9f9;
}
@media (max-width: 768px) {
    .icon-menu {
        cursor: pointer;
    }
    .headerclip {
        
        width: 100%;
        margin: 0 auto;
    }
    .headerclip .bg{
        clip-path: none;
    }
    .navbar {
        padding: 0 25px;
    }
}


/* member-addmenu
-------------------------- */
.member-addmenu.hover{
    opacity: 1;
    max-height: 100vh;
}
.member-addmenu{
    width: 80px;
    max-height: 0;
    background-color: #3A4035d2;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
    left: 0;
    top: 42.5px;
}
/* popup-menu
---------------------------*/

.popup-menu.visible {
    opacity: 1;
    max-height: 100vh;
    height: 100vh;
}

.popup-menu {
    width: 100vw;
    max-height: 0;
    background-color: #3A4035;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
    position: relative;
}

@media all and (max-width:768px){
    
    .header .popup-menu .popup-nav {
        padding-top: 50%;
    }
    
    .header .popup-icon{
        width: 60px;
        height: 40px;
        text-align: center;
    }
    .popup-nav .haverlogin.popup-icon{
        color: #fff;
        font-size: 25px;
       
    }
    .popup-nav .popup-icon .icon::before{
        line-height: 40px;
        font-size: 30px;
    }
    .popup-nav.hover .haverlogin.popup-icon{
        color: #3A4035;
        background: #f9f9f9;
        border-radius: 2px 2px 0 0;
    } 
    .popup-menu .member-addmenu .popup-menu__item{
        color: #3A4035;
    }
    .popup-nav.hover .member-addmenu{
 opacity: 1;
  max-height: 100vh;
  }
    .popup-nav .member-addmenu{
        opacity: 0;
        width: 100%;
        max-height: 0;
        background: #f9f9f9;
        transition: all .5s;
    }
}
/* popup-menu__item
---------------------------*/

.popup-menu__item {
    color: white;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    transition: all 0.3s;
}

.popup-menu__item:hover {
    color: #bf2944;
}


/* menu-bar
------------------- */

.menu-bar>div {
    width: 33px;
    height: 3px;
    margin: 7px 0;
    background: #fff;
    transition: all .3s;
}

.menu-bar.visible .bar1 {
    width: 33px;
    transform: rotate(45deg)translate(6px, 9px);
}

.menu-bar.visible .bar2 {
    opacity: 0;
    visibility: hidden;
}

.menu-bar.visible .bar3 {
    width: 33px;
    transform: rotate(-45deg)translate(6px, -9px);
}


/*-------------------------*/
/* $Footer
---------------------------*/

.bread {
    width: 73px;
    height: 28px;
    background-color: #3A4035;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    text-align: cente
    r;
    clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%);
    position: absolute;
    top: -30px;
}

.footer {
    width: 100vw;
    background: #3A4035;
    position: relative;
    align-items: center;
}

@media (max-width: 768px) {
    .footer {
        height: 60px;
    }
}

.footer .navbar {
    width: 100%;
}

.logo-font {
    font-family: 'Italianno', cursive;
    font-size: 32px;
}

.footer .contact {
    font-size: 12px;
    font-weight: 100;
}

.contact-item {
    transition: .3s;
    color: white;
}
.footer .navbar{
    padding: 1rem 55px;
}
@media (max-width: 768px) {
    .footer .navbar {
        height: 100%;
    padding: 1rem 25px;
}
    .footer .navbar i {
        padding-bottom: 6px;
    }
}


/* popup-footer
---------------------------*/

.popup-footer.visible {
    opacity: 1;
    max-height: 143px;
    display: block;

}

.popup-footer {
    width: 100vw;
    background-color: #3A4035;
    position: absolute;
    top: 81%;
    left: 0;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
    padding: 1rem;
    display: none;
    
}

.popup-footer .popup-nav {
    width: 100%;
    margin: 0;
}
.popup-footer .popup-nav>.d-flex{
    width: 100%;
}
.popup-footer .nav {
    padding: 5px;
}

.popup-footer .contact {
    width: 100%;
}
/* totop
=================================== */
.totop{
    position: fixed;
    display: none;
    z-index: 99999;
    right: 2rem;
    bottom: 2rem;
    filter: drop-shadow(2px 3px 3px #00000048);
    cursor: pointer;
}
.totop:hover {
    filter: drop-shadow(2px 3px 3px #00000023);
     transform: translateY(1px);
 }

.logo-svg path{
    fill: #BF2944;
}
.logo-svg .logo-header{
    transform: translateY(1px);
}
.totop .position-absolute{
    top: 20px;
    right: 6.4px;
    color: #BF2944;
    font-weight: 500;
}