/* ==================lightbox格式===================== */
/*  HTML結構==========================================
<section class="Lightbox 名稱 none">
            <div class="fake">
                <!-- 加一個假的底當感應區 -->
            </div>
            <div class="d-flex  position-relative align-items-center">
                <!-- 叉叉icon --><i class="icon icon-cancel justify-content-end"></i>
                <!-- 內容 -->
            </div>
        </section> 
        
        */
 /* 請記得掛==========================================
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="./js/main.js"></script> */

    /* TODO還沒寫漸變 */
        /* TODO 要寫close */
body.turnLight{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 }

 .Lightbox.none{
    display: none;
}
.Lightbox .fake{
    position: fixed;
    background: #3a4035;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .9;
}
.Lightbox{
    display:block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}
.Lightbox .icon-cancel::before {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
    opacity: .7;
}
.Lightbox .icon-cancel:hover::before{
    opacity: 1;
}
@media all and (max-width: 768px){
    body.turnLight{
       width: 100vw;
       height: auto;
       overflow: unset;
    }
.Lightbox{
    position: absolute;
}
 }