/*==================================================news================================================ */
.subtitle{
    margin: 5rem 1rem;
}
/* section.news .subtitle{
    text-align: left;
} */

.slide-back .situation{
    width: 22.5vw;
    height:10vw;
}
.slide-back .situation .mask{
    position: absolute;
    width: 100%;
    height:100%;
    mix-blend-mode: color;
background: #000;    
z-index: 1;

}
.slide-back .situation img{
    object-fit: cover;
    width: 100%;
    height:100%;

}
section.news  .slide{
    width: 100%;
}

.situ-news{
    object-fit: cover;
    width: 67.5vw;
    height: 30vw;
    z-index: 1;
}
section.news .slider-right .outsite{
    background: linear-gradient(180deg, #fff 50%);
    
}
.news-preview>.position-relative{
    z-index: 1;
}
/* 若.news-preview .insite的height:100%會多出一點點，故現在用99% */
.news-preview .insite{
    height: 99%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background:linear-gradient(180deg, #BF294430 50%, #3A403590 100%);
    z-index: 4;
    transition: all .5s;
}
.news-preview .insite:hover{
    opacity: 1;
}
.news-preview .insite>div{
    position: absolute;
    bottom: 0;
    padding: 5rem;
    width: 100%;
}

section.news .slide-back{
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
}


@media all and (max-width: 768px) {
    .slide .news-preview{
        width: 100%;
    }
    .situ-news{
        width:100%;
        height: 50vw;
    }
    .news-preview .insite{
        opacity: 1;
    }
    .news-preview .insite>div{
        padding: 1rem;
    }
    .news-preview .insite h2{
        font-size: 1em;
        
    }
    .news-preview .insite h4{
        font-size: 0.83em;
        font-weight: 300;

    }
}
 
 /* ========================news-lightbox================================ */
.newsLightbox>.d-flex {
    border-radius: 2px;
    max-width: 1400px;
    width: 95%;
    max-height: 800px;
    height: 80vh;
    background: #f9f9f9;
    padding: 30px;
    margin: 5rem auto;
}
/* 圖片本身完全展開，再用object-fit:cover去套 */
.newsLightbox img {
    max-width: 50%;
    max-height: 100%;
    object-fit: cover;
}

.newsLightbox .txt {
    max-width: 40%;
    margin: 0 auto;
}

.newsLightbox .txt h2,
.newsLightbox .txt h3,
.newsLightbox .txt p {
    color: #3A4035;
}

.newsLightbox .txt h2 {
    text-align: center;
}

.newsLightbox .txt h3 {
    text-align: right;
    padding-top: 1em;
}

.newsLightbox .txt p {
    line-height: 1.5em;
}

@media all and (max-width: 768px) {
    .newsLightbox>.d-flex {
        flex-direction: column;
        padding: 0;
    margin-top: 40%;
    border-radius: 7px;

    }

    .newsLightbox img {
        max-width: 100%;
    }

    .newsLightbox .txt {
        max-width: 100%;
        padding: 16px;
    }

}
 